# idea 本地文件
**/.vs
**/.vsconfig
**/.idea
**/.vscode


# 本地的文件变化缓存不提交
*/Assets/StreamingAssets/Table/temp/*
*/Temp_data
*/Library
*/Temp
*/Logs
*/obj
*/MemoryCaptures
*/Packages/packages-lock.json
*/*.csproj
*/*.sln


# macos gen file
.DS_Store


# native 平台文件 
client/NativeProj/iOS/UnityOutput/*
client/NativeProj/Android/Main/.gradle
client/NativeProj/Android/Main/unityLibrary/build
client/NativeProj/Android/**/build
client/NativeProj/apks
client/NativeProj/Android/Main/unityLibrary/*
*.apk


.DS_Store
**/.gradle
client/NativeProj/Nav/unityLibrary
server/Assets/Resources/kncokheroes-91e3de2ac034.json
